body{

margin:0;
font-family:Arial;
background:linear-gradient(#031520,#062b3a);

color:white;

}


/* HEADER */

.header{

position:fixed;
top:0;

width:100%;
height:60px;

background:#021018;

display:flex;
align-items:center;

padding-left:60px;

z-index:1000;

}

.headerTitle{

font-weight:bold;
font-size:18px;

}


/* MENU BUTTON */

.menuBtn{

position:absolute;
left:15px;

font-size:28px;

background:none;
border:none;
color:white;

cursor:pointer;

}


/* SLIDE MENU */

.menu{

position:fixed;
top:0;
left:0;

width:260px;
height:100vh;

background:#021018;

padding:20px;

transform:translateX(-100%);
transition:transform .3s ease;

z-index:2000;

box-sizing:border-box;

}

.menu.open{
transform:translateX(0);
}


/* MAIN */

.main{

margin-top:70px;
padding:15px;

}


/* EMERGENCY */

.emergencyWrap{

text-align:center;

}

.emergencyBtn{

width:140px;
height:140px;

background:red;

border-radius:20px;

margin:auto;

display:flex;
justify-content:center;
align-items:center;

position:relative;

overflow:hidden;

}

.emgText{

font-weight:bold;

z-index:2;

}


.progressCircle{

position:absolute;

width:0%;
height:100%;

background:rgba(255,255,255,.3);

left:0;
top:0;

}


.holdText{

margin-top:8px;
color:#ffbbbb;

}


/* CHAT */

.chatBox{

background:#082331;

height:260px;

border-radius:15px;

padding:10px;

overflow:auto;

margin-top:20px;

}


.user{

color:#00ffd0;
margin-top:10px;

}

.bot{

color:white;
margin-top:10px;

}


/* INPUT */

.input{

width:100%;
padding:14px;

border-radius:12px;
border:none;

margin-top:10px;

}


/* BUTTONS */

.btnRow{

display:flex;
gap:10px;

margin-top:10px;

}

.sendBtn{

flex:1;
padding:15px;

background:#00c8ff;

border:none;
border-radius:12px;

}

.talkBtn{

flex:1;
padding:15px;

background:#28a745;

border:none;
border-radius:12px;

}


.footer{

text-align:center;

margin-top:15px;

color:#00ffd0;

}
